<section class="about-me-section p-3 p-lg-4 theme-bg-light">
    <a id="intro"></a>
    <div class="container d-flex px-3">
        <div class="profile-teaser media flex-column flex-lg-row">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">
                    Marta Pancaldi
                </h2>
                <div class="tagline mb-3">Software Engineer</div>
                <div class="bio mb-4">
                    I'm a software engineer based in Turin (Italy), currently working at
                    <a href="https://resourcify.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/intro/resourcify.webp" alt="Resourcify" height="20px"/>
                    </a>, specialised in Java, backend and web development.
                    <br/>I hold a MSc in Advanced Computer Science from the University of
                    Manchester, and have four years of experience at
                    <a href="https://bjss.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/intro/bjss.webp" alt="BJSS" height="22px"/>
                    </a>
                    and
                    <a href="https://www.booking.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/intro/bookingcom.svg" alt="Booking.com" height="18px"/>
                    </a>

                    <div class="free-time">
                        <a
                            class="link-on-bg"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="https://pensieridinchiostro.wordpress.com/"
                        >Fiction writer</a>,
                        <a
                            class="link-on-bg"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="https://www.goodreads.com/topolinamarta"
                        >bookworm</a>,
                        <a
                            class="link-on-bg"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="https://www.youtube.com/watch?v=F_VM95pANBk"
                        >oboist</a>
                        and
                        <a class="link-on-bg" href="/photos">travel photographer</a>
                        in my free time.
                        <br/>
                    </div>
                </div>


                <div class="mb-4 d-flex flex-row projects-and-cv-buttons">
                    <a class="btn btn-primary me-2 mb-3" href="/projects">
                        <span class="d-inline">
                            <fa-icon [icon]="icons.faCode"></fa-icon>
                            &nbsp;View Projects
                        </span>
                    </a>
                    <a class="btn btn-secondary mb-3" href="/cv">
                        <span class="d-inline">
                            <fa-icon [icon]="icons.faFileAlt"></fa-icon>
                            &nbsp;View CV
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
