#user-title {
    color: #fff;
}

.list-inline-item a {
    color: #0f50b9;
}

.navbar a:hover {
    text-decoration: none !important;
}

.collapse {
    display: none;

    &.show {
        display: block;
    }
}

.language-change-area {
    position: absolute;
    bottom: 20px;
}

.flag-icon {
    width: 35px;
    border-radius: 5px;
}
