<div class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0">
        <a href="/">&lt;Marta Pancaldi /&gt;</a>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <button
            id="navbar-toggler"
            #navbarTogglerButton
            [ngClass]="{'collapsed': !isNavbarExpanded}"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleMobileSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" #navbar [ngClass]="{'show': isNavbarExpanded}" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img
                    class="profile-image mb-3 rounded-circle mx-auto"
                    src="./assets/images/profile.webp"
                    alt="avatar"
                />

                <div class="bio mb-3">
                    <h5 class="mb-0" id="user-title">Software Engineer</h5>
                </div>

                <!-- Social Media links -->
                <ul class="social-list list-inline py-3 mx-auto d-flex flex-row">
                    <app-social-media-link class="list-inline-item"
                                           *ngFor="let link of socialMediaLinks"
                                           [socialMediaLink]="link">
                    </app-social-media-link>
                </ul>
            </div>

            <!-- Menu items -->
            <div class="mb-3">
                <ul class="navbar-nav flex-column text-start">
                    <app-menu-item
                        *ngFor="let item of menuItems"
                        [menuItem]="item"
                    >
                    </app-menu-item>
                </ul>
            </div>

            <div class="my-2 my-md-3">
                <a
                    class="btn btn-primary"
                    href="mailto:mpancaldi@outlook.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Get in Touch
                </a>
            </div>
        </div>
    </nav>
</div>
