.projects-and-cv-buttons a {
    text-decoration: none;
}

#read-more-btn {
    margin-bottom: 0.5rem;
}

// Small screens
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .item-desc ul {
        margin-left: 0;
    }

    .single-page {
        width: 100%;
    }
}

// Large screens
@media (min-width: 769px) {
    .container {
        width: 95%;
    }

    #experience, #education {
        width: 85%;

        .row > * {
            width: 88%;
        }
    }

    #languages, #publications, #github, #fun, #cool-facts {
        width: 85%;
    }

    #book-section {
        margin: 0;

        .row > *, app-book {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .item-desc div {
        padding-left: 40px;
    }

    .single-page {
        width: calc(100% - 280px);
    }
}

#music ul {
    margin-left: 5px;
}

.icon-left {
    margin-right: 10px;
}

.icon-right {
    margin-left: 10px;
}

a.url-title {
    color: #2a2a2a;
    text-decoration: none;

    &:hover {
        color: #13459D;
        text-decoration: underline;
    }
}

.pub-card {
    padding: 10px 20px;
    height: 165px;
    margin-bottom: 16px;
}

.pub-title {
    font-family: "PT Serif", "serif";
    font-weight: bold;
}

.pub-content {
    //position: absolute;
    //bottom: 0;
    padding: 10px 0;
    //width: 90%;
}

.pub-link {
    font-size: 22px;
}

.cool-facts-title {
    color: #1d078d;
    font-family: "Bradley Hand", serif;
    text-align: center;
}

.cool-facts-container {
    min-height: 135px;
}

.cool-facts-item {
    display: flex;
    justify-content: center;

    &__text {
        height: 100px;
    }

    &__button {
        bottom: 0;
        min-height: 50px;
    }
}

#cool-fact.center {
    text-align: center;
}

button#cool-facts-button {
    &.fade-out {
        transition: opacity 3s ease-out;
        opacity: 1;
    }

    &[hidden='true'] {
        opacity: 0;
    }
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}
