.projects-and-cv-buttons a {
    text-decoration: none;
}

#read-more-btn {
    margin-bottom: 0.5rem;
}

// Small screens
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .item-desc ul {
        margin-left: 0;
    }
}

// Large screens
@media (min-width: 769px) {
    .container {
        width: 95%;
    }

    #experience, #education {
        width: 85%;

        .row > * {
            width: 88%;
        }
    }

    #languages, #publications, #github {
        width: 85%;
    }

    .item-desc div {
        padding-left: 40px;
    }
}

a.url-title {
    color: #2a2a2a;
    text-decoration: none;

    &:hover {
        color: #13459D;
        text-decoration: underline;
    }
}

.pub-card {
    padding: 10px 20px;
    height: 165px;
    margin-bottom: 16px;
}

.pub-title {
    font-family: "PT Serif", "serif";
    font-weight: bold;
}

.pub-content {
    //position: absolute;
    //bottom: 0;
    padding: 10px 0;
    //width: 90%;
}

.pub-link {
    font-size: 22px;
}
