<div class='item card shadow-sm px-4 pt-3 pb-2'>
    <div class='item-inner card-content'>
        <div class='title-container school-title-container row'>
            <div class='col-lg-1 col-md-1 col-sm-1'>
                <img class='work-icon' [src]='workExperience.icon' [alt]='workExperience.title' />
            </div>
            <div class='school-title col-lg-8 col-md-8 col-sm-1'>
                <h5 class='item-title'>
                    {{workExperience.title}}
                </h5>
                <h6 class='item-title'>
                    {{workExperience.subtitle}}
                </h6>
            </div>
            <div class='col-lg-3 col-md-3 col-sm-1'>
                <span class='responsive-hide' style='float: right'>
                    <h5>
                        {{workExperience.begin}} &ndash; {{workExperience.end}}
                    </h5>
                </span>
            </div>
        </div>
        <hr/>
        <div>
            <div class='item-desc' style='margin-bottom: 1rem'>
                <ul *ngIf='workExperience.items.length > 1'>
                    <li class='item-li' *ngFor='let item of workExperience.items'>
                        {{item}}
                    </li>
                </ul>
                <div *ngIf='workExperience.items.length === 1'>
                    {{workExperience.items}}
                </div>
            </div>
        </div>
    </div>
</div>
