.footer {
    //bottom: 0;
    //position: fixed;

    height: 45px;
    color: rgba(256, 256, 256, 0.7);

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (min-width: 769px) {
        width: calc(100% - 280px);
    }
}
