<footer class="footer text-center py-2 theme-bg-dark">
    <small class="copyright">
        Copyright ©{{currentYear}} by
        <a href="/" rel="noopener noreferrer">
            <strong>Marta Pancaldi</strong>
        </a>
        <span class="responsive-hide">
            &nbsp; &nbsp; &nbsp; &nbsp;
            Theme based on
            <a href="https://github.com/xriley/DevBlog-Theme" target="_blank" rel="noopener noreferrer">
                <strong>DevBlog</strong>
            </a>
            by
            <a href="https://themes.3rdwavemedia.com" target="_blank" rel="noopener noreferrer">
                Xiaoying Riley
            </a>
        </span>
    </small>
</footer>
