<div class="single-page">
    <app-header [title]='"Adventures in the kitchen"'></app-header>

    <div>
        <div class="container px-3 px-lg-5">
            <gallery
                [galleryName]="galleryName"
                [flexBorderSize]="flexBorderSize"
                [flexImageSize]="flexImageSize"
                [maxRowsPerPage]="maxRowsPerPage"
                [viewerEnabled]="viewerEnabled"
            >
            </gallery>
        </div>
    </div>

    <Section></Section>
</div>
