name: Build Angular App

on:
  - pull_request
  - push:
      branches:
         - master

jobs:
  build & verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: yarn install

      - name: Lint code
        run: yarn lint

      - name: Run tests
        run: yarn test


